label{
    border: 1px solid blue;
    width: 20px;
    display: block;
    margin: 20px;
    cursor:pointer;
    /* padding: 10px; */
    /* 마우스 손모양 */
}

label span{
    display: block;
    height: 3px;
    background: blue;
    border-radius: 2px;
    margin: 3px auto;
    width: 90%;
}

ul{
    display: none;
}

input:checked+ul{
    display: block;
}

ul>li>a:before{
    content: "\1F60A";
}

ul{
    position: relative;
    width: 220px;
}

ul>li{
    background: limegreen;
    font-weight: bold;
    padding: 5px;
    text-indent: 10px;
    box-shadow: 2px 2px 2px 2px white;
    padding: 10px;
    
}

ul>li:not(:last-child){
    /* border-bottom: 1px dashed white; */
    
}

ul>li>a{
    color:white !important;
    display: block;
}

div.sub{
    position: absolute;
    left: 100%;
    top: 0;
}

ul>li:hover{
    background-color: lime;
}

ul>li:hover>a{
    text-shadow: 1px 1px black;
}

div.sub{
    display: none;
    border: 1px solid red;
}

ul>li:hover>div.sub{
    width:600px;
    display: flex;
}

/* 서브 메뉴 디자인 */
div.sub section{
    /* float: left; */
    /* border: 1px solid salmon; */
    flex:1;
    padding: 10px;
}

div.sub section:not(:last-child){
    border-right: 1px solid gray;
}
section>ol{
    font-size: 0.9em;
    font-weight: normal;
    color: gray;
}

section>h3{
    font-size: 1em;
    font-weight: bold;
}

/* div{
    border: 1px solid black;
} */

section img {
    width: 120px;
    /* height: 60px; */
    display: block;
    margin:auto;
}