/* CSS 초기화 */
*{
    margin:0; 
    padding:0;
}

a{
    text-decoration: none;
    /* 밑줄제거 */
    color: black;
    
}

li{
    list-style: none;
}

table{
    border-collapse: collapse;
    /* 표테두리 단일실선 */
}