a{ 
    display:block; 
    padding: 10px 0;
    font:bold 16px "Helvetica";
    color:darkred;
    background: #eee;
    text-align: center;
}

ul>li{ 
    float: left; 
    height: 40px;
    width: 20%;
}

ul{
    border:0.5px solid snow;
    height: 40px;
    box-sizing: border-box;
}

section{margin:20px;
}

ul>li>a:not(:last-child){
    border-right: 1px solid lightgray;
}

p{
    padding:5px;
    height:auto;
    text-align: center;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

article>p{
    display: none;
}

article>p:target{
    display: block;
}

ul>li:hover>a{
    background: ivory;
}

/* 이미지 사이즈 조절 */
p>img{
    width: 120px; 
    height: 150px; 
    margin: 10px;
}

ul>li>a{
    border-bottom: 3px solid black;
    box-sizing: border-box;
}

ul>li:hover>a{
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 0;
}

/* 메뉴 활성화 정의 */

.active{
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 0;
}
